@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: -webkit-fill-available;
}

body {
  font-family: "Poppins", sans-serif;
  height: -webkit-fill-available;
  background-color: #0a0a0a;
}

.active {
  color: #afc92b;
}

.no-scroll {
  overflow: hidden;
}
.burger {
  width: 100%;
}

.burger::after,
.burger::before {
  content: "";
  display: block;
  width: 40%;
  background-color: black;
  height: 4px;
  margin: auto;
  z-index: 1000;
}

.burger::after {
  top: -5px;
}

.burger::before {
  top: 5px;
}

/* .bg-woman {
  background-image: url("../src/assets/neon-light-min.jpg");
  background-size: cover;
  background-position: 40% center;
  background-repeat: no-repeat;
} */

/* .container {
  display: flex;
  align-items: center;
  height: 50vh;
  padding-bottom: 11rem;
  width: 100vw;
  overflow: hidden;
  max-width: 100vw;
} */

.scroll {
  white-space: nowrap;
  margin: 0 2em;
  width: 100vw;
}

.scroll div {
  display: flex;
  gap: 13.83em;
  width: 100vw;
}

.scroll p {
  font-size: 4.6em;
  /* color: black; */
  font-weight: bold;
  margin-bottom: 0;
  line-height: 10px;
}

.RightToLeft {
  animation: RightToLeft 5s infinite linear;
  width: 100vw;
  color: white;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-37.3%);
  }
}

.LeftToRight {
  animation: LeftToRight 5s infinite linear;
  width: 100vw;
  display: flex;
  gap: 5rem;
  color: white;
}

@keyframes LeftToRight {
  from {
    transform: translateX(-37.3%);
  }
  to {
    transform: translateX(0%);
  }
}

/* Loading animation */

/* styles.css */

/* #loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
} */
/* 
#logo-container {
  position: relative;
  text-align: center;
} */

#loading-logo {
  width: 100px; /* Adjust the size as needed */
  display: block;
  margin: 0 auto;
}

#lightning-container {
  /* position: fixed;
  top: 388px;
  left: 777px; */
  /* width: 100%;
  height: 50px; */
  /* overflow: hidden;
  margin-top: 10px; */
}

#lightning-bolt {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 300px;
}

@keyframes reveal {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

#content {
  display: none; /* Hide the main content initially */
}

.loader {
  width: 180px;
  height: 20px;
  background: linear-gradient(#afc92b 50%, #0000 0),
    linear-gradient(#0000 50%, #afc92b 0), linear-gradient(#afc92b 50%, #0000 0),
    linear-gradient(#0000 50%, #afc92b 0), linear-gradient(#afc92b 50%, #0000 0),
    linear-gradient(#0000 50%, #afc92b 0) #1f1f1f;
  background-size: calc(100% / 6 + 1px) 200%;
  background-repeat: no-repeat;
  animation: l12 2s infinite;
}
@keyframes l12 {
  0% {
    background-position: calc(0 * 100% / 5) 100%, calc(1 * 100% / 5) 0%,
      calc(2 * 100% / 5) 100%, calc(3 * 100% / 5) 0%, calc(4 * 100% / 5) 100%,
      calc(5 * 100% / 5) 0%;
  }
  16.67% {
    background-position: calc(0 * 100% / 5) 0%, calc(1 * 100% / 5) 0%,
      calc(2 * 100% / 5) 100%, calc(3 * 100% / 5) 0%, calc(4 * 100% / 5) 100%,
      calc(5 * 100% / 5) 0%;
  }
  33.33% {
    background-position: calc(0 * 100% / 5) 0%, calc(1 * 100% / 5) 100%,
      calc(2 * 100% / 5) 100%, calc(3 * 100% / 5) 0%, calc(4 * 100% / 5) 100%,
      calc(5 * 100% / 5) 0%;
  }
  50% {
    background-position: calc(0 * 100% / 5) 0%, calc(1 * 100% / 5) 100%,
      calc(2 * 100% / 5) 0%, calc(3 * 100% / 5) 0%, calc(4 * 100% / 5) 100%,
      calc(5 * 100% / 5) 0%;
  }
  66.67% {
    background-position: calc(0 * 100% / 5) 0%, calc(1 * 100% / 5) 100%,
      calc(2 * 100% / 5) 0%, calc(3 * 100% / 5) 100%, calc(4 * 100% / 5) 100%,
      calc(5 * 100% / 5) 0%;
  }
  83.33% {
    background-position: calc(0 * 100% / 5) 0%, calc(1 * 100% / 5) 100%,
      calc(2 * 100% / 5) 0%, calc(3 * 100% / 5) 100%, calc(4 * 100% / 5) 0%,
      calc(5 * 100% / 5) 0%;
  }
  100% {
    background-position: calc(0 * 100% / 5) 0%, calc(1 * 100% / 5) 100%,
      calc(2 * 100% / 5) 0%, calc(3 * 100% / 5) 100%, calc(4 * 100% / 5) 0%,
      calc(5 * 100% / 5) 100%;
  }
}
